body {
	background-color: #263238;
	overflow:hidden;
}

#title_container {
	height:3vh;
	
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#title_container #logo  {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ecf0f1;
	font-size: 31px;
	line-height: 1;
	letter-spacing: -0.066em;
	font-weight: 700;
	
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#title_container select {
	float:right;
	
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding:3px;
}

#title_container #title {
	color:#ecf0f1;
	margin-left: 20px;
	margin-right:20px;
	font-size: 21px;
	white-space: nowrap;
	flex-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.player_container { 
	height:81vh; 
	padding-top: 1vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.player_container .error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 300%;
	color: #ecf0f1;
}

.player_container video {
    height: 100%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#video_container { 
	height: 13vh;
	overflow-x:auto;
  	overflow-y: hidden;
 	scroll-behavior: smooth;
	 }
	 
#video_container .flex-item .img {
	width:140px;
	height:104px;
}

#video_container .nsfw {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight:bold;
	color:#f03434;
	background-color:#abb7b7;
	height:105px;
	width:140px;
	font-size:125%;
}
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-item{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background-color:hsla(0, 0%, 5.098039%, 0.5);
    padding:5px;
    cursor:pointer;
    border-style: solid;
    border-color:black;
    }
    
.flex-item.selected {
	border-color:white;
}

i.fa.fa-gear:hover {
	cursor:pointer;
}
i.fa.fa-gear {
	color:#ecf0f1;
	margin-left:5px;
	margin-right:5px;
	font-size:24px;
}