<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
	
	<head>
		<title>RANG.TV</title>
		<link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
		<link rel="manifest" href="icon/site.webmanifest">
		<link rel="mask-icon" href="icon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	    <script type="text/javascript" src="/js/jquery.min.js" > </script>
	    <link rel="stylesheet" href="/css/modal.css"/>
	    <link rel="stylesheet" href="/css/styles.css"/>
	    	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="title_container">
			<div id="logo">RANG.TV</div>
			<a href id="title" target="_blank"></a>
			
			<i class="fa fa-gear" id="settings_gear"></i>
			<select id="subreddit_selector">
			  <option th:each="sub : ${subreddits}" 
			     th:value="${sub}" 
			     th:selected="(${sub} == ${subreddit})" 
			     th:text="${sub}"></option>
			</select>
		</div>
		<div id="player_container" class="player_container" >
			<div id="player" th:if="${videos.size() > 0}"></div>
			<div class="error" th:if="${videos.size() <= 0}">
				Invalid subreddit or subreddit contains no videos.
			</div>
		</div>	
		<div id="video_container" class="flex-container" >
			<th:block th:each="video : ${videos}">
				<div th:attr="onclick=|changeVideo(this, '${video.getYoutubeId()}')|" class="flex-item" th:id="${video.getYoutubeId()}">
					
					<div id="data" th:title="${video.title}" th:youtubeid="${video.getYoutubeId()}" th:permalink="${video.permalink}" >
				 	
						<div>
							<img th:src="${video.thumbnail}" th:title="${video.title}" th:unless="${video.requiresPlaceholder()}"></img>
							<div class="nsfw" th:if="${video.thumbnail == 'nsfw'}">NSFW</div>
							<div class="nsfw" th:if="${video.thumbnail == 'spoiler'}">SPOILER</div>
							<img type="image/png" src="img/placeholder.png" th:if="${video.thumbnail == 'default'}"></img>
						</div>
					</div>
				</div>				
			</th:block>
		</div>
		
		<div id="modalView" class="modal">

		  
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <h2>Settings</h2>
		    <form action="#" th:action="@{/settings}" th:object="${settings}" method="post" id="settings_form">
		    	<table id="subreddits_table">
				   <tbody >
				      <tr th:each="subreddit, i : *{subreddits}">
				      	<td>
				         	<input  th:field="*{subreddits[__${i.index}__]}" th:index="${i.index}"></input>
				         </td>
				         <td>
				         	<i class="fa fa-close w3-large" th:index="${i.index}" onclick="removeSubreddit(this)"></i>
				         </td>
				      </tr>
				      
				   </tbody>
				</table>
				
		   		 <p><input id="newSubredditTextField" type="text" placeholder="Add subreddit..." onkeypress="handle(event)"/>	<button title="Add" type="button" onclick="addSubreddit()">Add</button>
				
		        <p><input type="submit" value="Save" /></p>
		    </form>
		  </div>
		
		</div>
		<script>
		
			$(function(){
			  var modal = $("#modalView")[0];
			  var span = $("span.close")[0];
			  var settingsGear = $("#settings_gear")[0];
			  
		      $('#subreddit_selector').on('change', function () {
		          var subreddit = $(this).val(); 
		          
		          if (subreddit) { 
	              	window.location = document.location.origin + "?subreddit=" + subreddit;
		          }
		          return false;
		      });
		      
		      span.onclick = function() {
		        modal.style.display = "none";
		      }
		      
		      window.onclick = function(event) {
		        if (event.target == modal) {
		          modal.style.display = "none";
		        }
		      }
		      
		      settingsGear.onclick = function() {
		    	  modal.style.display = "block";
		      }

		    });
		
			function handle(e){
		        if(e.keyCode === 13){
		            e.preventDefault(); 
		            addSubreddit();
		        }
		    }
			
		  function addSubreddit() {
			  var index = parseInt($("#subreddits_table input:last").attr("index")) + 1;
			  
			  var subreddit = $("#newSubredditTextField")[0].value;
			  if(subreddit && subreddit.trim().length !== 0) {
				  $('#subreddits_table tr:last').after('<tr><td><input id="subreddits' + index + '" index="' + index + '" name="subreddits[' + index + ']" value="' + subreddit + '"></tr></td>');
				  $("#newSubredditTextField")[0].value = "";
			  }
		  }
		  
		  function removeSubreddit(sender) {
			  var index = parseInt(sender.attributes["index"].value);
			  $("#subreddits" + index).hide();
			  $("#subreddits" + index).val("");
		  }
	      // 2. This code loads the IFrame Player API code asynchronously.
	      var tag = document.createElement('script');
	
	      tag.src = "https://www.youtube.com/iframe_api";
	      var firstScriptTag = document.getElementsByTagName('script')[0];
	      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
	      // 3. This function creates an <iframe> (and YouTube player)
	      //    after the API code downloads.
	      var player;
	      var currentlySelected;
	      function onYouTubeIframeAPIReady() {
	        player = new YT.Player('player', {
	          height: '100%',
	          width: '100%',
	          videoId: '[[${youtube_url}]]',
	          events: {
	            'onReady': onPlayerReady,
	            'onStateChange': onPlayerStateChange
	          }
	        });
	      }
	
	      // 4. The API will call this function when the video player is ready.
	      function onPlayerReady(event) {
	
		    selectVideo($("#video_container div:first-child")[0]);
	        event.target.playVideo();
	      }
	
	      function onPlayerStateChange(event) {
	    	  if (event.data == YT.PlayerState.ENDED && currentlySelected != null) {
	    		  var nextElement = currentlySelected.nextElementSibling;
	    		  if(nextElement != null) {
	    			  nextElement.click();
	    		  }
	          }
	
	       
	      }
	      function stopVideo() {
	        player.stopVideo();
	      }
	      
	      function selectVideo(sender) {
	 		  var data = $("#" + sender.id).find("#data");
	    	  
	    	  currentlySelected = sender;
	    	  sender.classList.add("selected");
	    	  
	    	  $("#title").text(data.attr("title"));
	    	  $("#title").attr("title", data.attr("title"));
	    	  $("#title").attr("href", data.attr("permalink"));
	    	  $("#video_container")[0].scroll(getPosition(sender).x,0);
	      }
	      
	      function changeVideo(sender, videoId) {
	    	  if(currentlySelected != null) {
	    		  currentlySelected.classList.remove("selected");
	    	  }
	
	    	  selectVideo(sender);
	
	    	  player.loadVideoById(videoId, 0);
	    	  
	    	  
	      }
	      
	      //Adapted from https://www.kirupa.com/html5/get_element_position_using_javascript.htm
	      function getPosition(el) {
	    	  var xPos = 0;
	    	  var yPos = 0;
	    	 
	    	  while (el) {
	    	      xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
	    	      yPos += (el.offsetTop - el.scrollTop + el.clientTop);
	    	 
	    	      el = el.offsetParent;
	    	  }
	    	  
	    	  return {
	    	    x: xPos,
	    	    y: yPos
	    	  };
	    	}
	    </script>
	</body>
</html>